[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://cwpippin.s3-website-us-east-1.amazonaws.com"
verify_ssl = false
name = "cwpippin"

[packages]
requests = "*"
python-dateutil = "*"
cw-ndfd-xml = {editable = true, path = "."}
cw-entity = {version = "*", index="cwpippin"}

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
